.additional-products {
  background-color: #ffffff;

  @media (min-width: $viewport-tablet) {
    max-width: 800px;
  }

  @media (min-width: $viewport-desktop) {
    max-width: 1500px;
  }
}

.additional-products__title {
  font-family: $headers-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 25px 0 49px;

  @media (min-width: $viewport-tablet) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
  }

  @media (min-width: $viewport-desktop) {
    padding-left: 0;
  }
}

.additional-products__list {
  @include list-style-reset();
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 54px;

  @media (min-width: $viewport-tablet) {
    max-width: 800px;
  }

  @media (min-width: $viewport-desktop) {
    max-width: 1000px;
    margin-top: 12px;
  }
}

.additional-products__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -13px;
    height: 1px;
    width: 100%;
    background-color: #cdcdcd;
  }

  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 25px;
  }

  @media (min-width: $viewport-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.additional-products__item:last-child::after {
  content: "";
  position: absolute;
  display: block;
  top: 120px;
  height: 1px;
  width: 100%;
  background-color: #cdcdcd;

  @media (min-width: $viewport-tablet) {
    top: 100px;
  }

  @media (min-width: $viewport-desktop) {
    top: 60px;
  }
}

.additional-products__item-title {
  @include mp-reset();
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-family: $headers-font;
  margin-bottom: 13px;

  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.additional-products__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $viewport-tablet) {
    justify-content: end;
    gap: 49px;
    margin-bottom: 0;
  }

  @media (min-width: $viewport-desktop) {
    justify-content: space-between;
    gap: 112px;
    margin-right: 40px;
    min-width: 285px;
  }
}

.additional-products__name,
.additional-products__cost {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__order-all {
  position: relative;
  width: 100%;
  height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/cat-case-mobile@1x.jpg") 1x, url("../../images/cat-case-mobile@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-size: 100% auto;

  &::before {
    position: absolute;
    left: 50%;
    top: 59px;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    content: "";
    background-image: url("../../icons/stack.svg#products-gift");
    background-size: 100%;

    @media (min-width: $viewport-tablet) {
      left: 78px;
      top: 57px;
    }

    @media (min-width: $viewport-desktop) {
      left: 50%;
      top: 57px;
    }
  }

  @media (min-width: $viewport-tablet) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/cat-case-tablet@1x.jpg") 1x, url("../../images/cat-case-tablet@2x.jpg") 2x);
    height: 200px;

    &::before {
      width: 80px;
      height: 83px;
    }
  }

  @media (min-width: $viewport-desktop) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/cat-case-desktop@1x.jpg") 1x, url("../../images/cat-case-desktop@2x.jpg") 2x);
    width: 245px;
    min-height: 288px;
    margin-left: 81px;
  }
}

.additional-products__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 187px 60px 43px;
  text-align: center;

  @media (min-width: $viewport-tablet) {
    padding: 71px  125px 69px 421px;
    text-align: left;
  }

  @media (min-width: $viewport-desktop) {
    padding: 185px 42px 43px;
    text-align: center;
    width: 161px;
  }
}

.additional-products__wrapper {
  @media (min-width: $viewport-desktop) {
    display: flex;
    justify-content: space-between;
  }
}
