.button-subscribe {
  padding: 0;
  border: none;
  font-family: $headers-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  cursor: pointer;
}
