.button-general {
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  padding-inline: 10px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button-general--find-programm {
  width: 280px;
  padding-block: 10px;
  box-sizing: border-box;
  justify-self: center;

  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 26px;
    z-index: 1;
    width: 244px;
    padding-block: 14px;
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 90px;
    margin-top: 29px;
    justify-self: start;
  }

  @media (min-width: $viewport-desktop) {
    margin-top: 0;
    margin-left: 80px;
  }
}

.button-general--order-catalog {
  grid-area: 3 / 1 / 4 / 4;
  padding-block: 10px;
  min-width: 250px;

  @media (min-width: $viewport-tablet) {
    grid-column: 1 / -1;
    padding-block: 10px;
  }

  @media (min-width: $viewport-desktop) {
    padding: 10px 53px;
    min-width: 0;
  }
}

.button-general--show-all {
  grid-area: 3 / 1 / 4 / 4;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #444444;
  width: 280px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: #444444;
  }

  @media (min-width: $viewport-tablet) {
    width: 250px;
  }

  @media (min-width: $viewport-desktop) {
    width: 169px;
  }
}

.button-general--order-add {
  grid-area: 2 / 1 / 3 / 3;
  padding-block: 10px;

  @media (min-width: $viewport-desktop) {
    grid-area: 1 / 3 / 2 / 4;
    width: 244px;
    justify-self: end;
    margin-top: 2px;
  }
}

.button-general--subscribe {
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 26px;
  font-family: $headers-font;
  font-weight: 400;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  cursor: pointer;
  width: 280px;
  min-height: 56px;
  box-sizing: border-box;

  @media (min-width: $viewport-tablet) {
    width: 256px;
  }
}
