.container {
  padding-inline: 6%;
  width: 88%;

  @media (min-width: $viewport-tablet) {
    width: 92vw;
    padding-inline: 4%;
  }

  @media (min-width: $viewport-desktop) {
    width: 85vw;
    padding-inline: 8%;
  }
}
