.hero {
  font-family: $headers-font;
  color: #ffffff;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (max-width: 767px) and (min-resolution: 1dppx) {
    background-image: url("../../images/hero-cat-mobile@1x.jpg");
  }

  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../../images/hero-cat-mobile@2x.jpg");
  }

  @media (min-width: $viewport-tablet) {
    background-image: none;
  }

  @media (min-width: $viewport-desktop) and (min-resolution: 1dppx) {
    background-color: #ffffff;
    background-image: url("../../images/hero-cat-desktop@1x.jpg");
    background-size: 50% auto;
    background-position: right 0;
  }

  @media (min-width: $viewport-desktop) and (min-resolution: 2dppx) {
    background-color: #ffffff;
    background-image: url("../../images/hero-cat-desktop@2x.jpg");
    background-size: 50% auto;
    background-position: right 0;
  }
}

.hero__title {
  @include mp-reset();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.hero__image {
  display: block;
}
