.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $headers-font;
  background-image: image-set(url("../../images/hero-cat-mobile@1x.jpg") 1x, url("../../images/hero-cat-mobile@2x.jpg") 2x), linear-gradient(to right, #65a73e 50%, #62a53b 50%);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto 63%;

  @media (min-width: $viewport-tablet) {
    align-items: start;
    padding-bottom: 526px;
    background-image: none;
  }

  @media (min-width: $viewport-desktop) {
    padding-left: 80px;
    padding-bottom: 169px;
  }
}

.hero__title {
  @include mp-reset();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 27px;

  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-top: 65px;
    text-align: left;
  }

  @media (min-width: $viewport-desktop) {
    padding-top: 83px;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 50px;
  }
}

.hero__image {
  display: block;

  @media (min-width: $viewport-tablet) {
    position: absolute;
    top: 366px;
  }

  @media (min-width: $viewport-desktop) {
    top: 29px;
    left: 450px;
  }
}

.hero__main-header {
  @media (min-width: $viewport-tablet) {
    width: 768px;
  }

  @media (min-width: $viewport-desktop) {
    width: 1220px;
  }
}
