.how-it-works {
  box-sizing: border-box;
  min-width: 320px;
}

.how-it-works__title {
  @include mp-reset();
  font-family: $headers-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  align-self: start;

  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  @include list-style-reset();
  display: flex;
  flex-direction: column;
  counter-reset: list-number 0;
  gap: 6.25vw;
  width: 100%;
  min-width: 280px;
  max-width: 520px;

  @media (min-width: $viewport-tablet) {
    flex-flow: wrap;
    gap: 37px 90px;
    max-width: 1439px;
    margin: 0 auto;
  }

  @media (min-width: $viewport-desktop) {
    column-gap: 80px;
  }
}

.how-it-works__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  counter-increment: list-number 1;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-position: center;
    background-size: 30px 32px;
    background-repeat: no-repeat;

    @media (min-width: $viewport-tablet) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  @media (min-width: $viewport-tablet) {
    width: 40%;

    &::after {
      position: absolute;
      content: counter(list-number);
      font-family: $headers-font;
      font-size: 280px;
      color: #f2f2f2;
      top: 127px;
      margin-left: 118px;
    }
  }

  @media (min-width: $viewport-desktop) {
    width: 20%;
  }
}

.how-it-works__item--leaf::before {
  background-image: url("../../icons/stack.svg#how-it-works-leaf");
}

.how-it-works__item--powder::before {
  background-image: url("../../icons/stack.svg#how-it-works-powder");
}

.how-it-works__item--eat::before {
  background-image: url("../../icons/stack.svg#how-it-works-eat");
}

.how-it-works__item--clock::before {
  background-image: url("../../icons/stack.svg#how-it-works-clock");
}

.how-it-works__text {
  position: relative;
  color: #444444;
  margin: 0;
  margin-left: 80px;
  width: 100%;
  min-width: 200px;

  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    padding: 151px 0 57px;
    z-index: 1;
  }
}
