.live-example-container {
  background-color: #eaeaea;

  @media (min-width: $viewport-tablet) {
    background-image: linear-gradient(#ffffff 619px, #eaeaea 61px);
  }

  @media (min-width: $viewport-desktop) {
    background-image: linear-gradient(#ffffff 150px, #f2f2f2 150px);
  }
}
