.main-header {
  background-color: #ffffff;
  color: #ffffff;

  @media (min-width: $viewport-tablet) {
    padding-top: 25px;
    padding-inline: 30px;
  }

  @media (min-width: $viewport-desktop) {
    background-color: #ffffff;
    background-image: image-set(url("../../images/hero-cat-full-desktop@1x.jpg") 1x, url("../../images/hero-cat-full-desktop@2x.jpg") 2x), linear-gradient(to right, #62a53b, #62a53b);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50vw 0;
    padding-top: 55px;
    padding-inline: 110px;
  }
}

.main-header__wrapper {
  min-width: 320px;

  @media (min-width: $viewport-tablet) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $viewport-desktop) {
    width: 1220px;
  }
}

.main-header--no-background {
  background: none;
}

.main-header__header-wrap {
  width: 100%;

  @media (min-width: $viewport-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 15px;
  width: 280px;
  padding-inline: 20px;
  margin: 0 auto;

  @media (min-width: $viewport-tablet) {
    justify-content: start;
    min-width: 0;
    width: 174px;
    margin: 0;
    padding-inline: 0;
  }

  @media (min-width: $viewport-desktop) {
    width: 202px;
  }
}

.main-header__hero {
  margin-bottom: 20px;
  z-index: 1;

  @media (min-width: $viewport-tablet) {
    margin: 0 auto;
    width: 708px;
  }

  @media (min-width: $viewport-desktop) {
    position: relative;
    min-width: 1220px;
  }
}

.main-header__logo-link {
  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $viewport-tablet) {
    gap: 13px;
  }

  @media (min-width: $viewport-desktop) {
    gap: 14px;
  }
}

.main-header__logo-link--picture {
  margin-right: 55px;

  @media (min-width: $viewport-tablet) {
    margin-right: 13px;
  }
}

.main-header__logo-image {
  display: block;
}

.main-header__logo-text {
  display: block;
  margin-right: 73px;
}
