.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #f2f2f2;
  padding: 40px 20px;

  @media (min-width: $viewport-tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-inline: 30px;
  }

  @media (min-width: $viewport-desktop) {
    padding-inline: 110px;
  }
}

.main-footer__socials {
  position: relative;
  padding-bottom: 20px;
}

.main-footer__logo-link-svg {
  fill: #111111;
}

.main-footer__logo-link {
  &:hover .main-footer__logo-link-svg {
    fill: #3e3e3e;
  }

  &:active .main-footer__logo-link-svg {
    fill: #6b6b6b;
  }
}

.main-footer__academy-logo-link {
  display: flex;
  align-items: center;
  width: 280px;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  &:hover .main-footer__academy-logo-svg {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $viewport-tablet) {
    width: 168px;
  }
}

.main-footer__academy-logo-svg {
  fill: #666666;
}
