.main-footer {
  background-color: #f2f2f2;
  padding-block: 40px;
  padding-inline: 20px;
  box-sizing: border-box;

  @media (min-width: $viewport-tablet) {
    padding-inline: 30px;
    padding-block: 55px;
  }

  @media (min-width: $viewport-desktop) {
    padding-inline: 110px;
    padding-block: 66px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $viewport-tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    width: 708px;
    min-height: 37px;
  }

  @media (min-width: $viewport-desktop) {
    width: 1220px;
  }
}

.main-footer__logo-link-svg {
  fill: #111111;
}

.main-footer__logo-link {
  margin-bottom: 15px;

  &:hover .main-footer__logo-link-svg {
    fill: #3e3e3e;
  }

  &:active .main-footer__logo-link-svg {
    fill: #6b6b6b;
  }

  @media (min-width: $viewport-tablet) {
    margin-bottom: 0;
    margin-right: 36px;
  }
}

.main-footer__socials {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 0;
  }
}

.main-footer__academy-logo-link {
  display: flex;
  align-items: center;
  gap: 21px;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  width: 280px;

  &:hover .main-footer__academy-logo-svg {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $viewport-tablet) {
    width: 168px;
    margin-bottom: 3px;
  }
}

.main-footer__academy-logo-text-link {
  width: 114px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 2px;
  }
}

.main-footer__academy-logo-svg {
  fill: #666666;
}
