.nav {
  display: none;
}

.nav--open {
  display: block;
}

.nav__list {
  @include list-style-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: $viewport-tablet) {
    flex-flow: wrap;
    justify-content: end;
    min-width: 430px;
  }

  @media (min-width: $viewport-tablet) {
    min-width: 480px;
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $headers-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  padding: 22px 10px 24px;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $viewport-tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}


.nav__link--catalog {
  @media (min-width: $viewport-desktop) {
    color: #111111;
  }
}

.nav__item {
  width: 100%;
  text-align: center;

  @media (min-width: $viewport-tablet) {
    width: auto;
  }
}

.nav__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;

  @media (min-width: $viewport-tablet) {
    display: none;
  }
}

.nav__link-current::after {
  @media (min-width: $viewport-tablet) {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    margin-top: 8px;
  }
}

.nav__link-current--index-desktop::after {
  @media (min-width: $viewport-desktop) {
    background-color: #ffffff;
  }
}
