.nav__list {
  @include list-style-reset();
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $headers-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.nav__toggle {
  border: none;
  padding: 0;
  background-color: transparent;
}

.nav__toggle--close {
  background-image: url("../../icons/stack.svg#burger-close");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.nav__toggle--open {
  background-image: url("../../icons/stack.svg#burger-open");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
