.page {
  width: 100%;
}

.page__body {
  font-family: $general-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: #000000;
  margin: 0;
  width: 100%;
}

.page__catalog {
  margin-bottom: 20px;
  z-index: 1;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $viewport-desktop) {
    padding-top: 82px;
  }
}

.page__how-it-works {
  margin-bottom: 67px;
}

.page__additional-products {
  margin-bottom: 40px;
}
