.page {
  width: 100%;
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: $general-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: #000000;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.page__catalog {
  margin-block: 20px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 45px;
    margin-top: 0;
  }

  @media (min-width: $viewport-desktop) {
    padding-top: 82px;
    margin-bottom: 71px;
  }
}

.page__how-it-works {
  margin-bottom: 25px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 41px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 21px;
  }
}

.page__live-example {
  position: relative;

  &::before {
    @media (min-width: $viewport-tablet) and (max-width: 1439px) {
      content: "";
      position: absolute;
      top: -19px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
}

.page__products {
  margin-bottom: 25px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 74px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 69px;
  }
}

.page__additional-products {
  margin-bottom: 39px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 80px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 82px;
  }
}
