.subscribe {
  font-family: $headers-font;
  font-weight: 400;
  background-color: #ffffff;
  padding-bottom: 40px;
}

.subscribe__title {
  @include mp-reset();
  font-size: 24px;
  line-height: 24px;
  margin: 40px 0 32px;

  @media (min-width: $viewport-tablet) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
  }

  @media (min-width: $viewport-desktop) {
    padding-left: 0;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 632px;
  }

  @media (min-width: $viewport-desktop) {
    width: 752px;
  }
}

.subscribe__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $viewport-tablet) {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 24px;
    line-height: 32px;
    width: 632px;
  }

  @media (min-width: $viewport-desktop) {
    grid-column: 1 / -1;
    width: 752px;
  }
}

.subscribe__input {
  margin-bottom: 16px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 13px;
  font-family: $headers-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  min-width: 280px;
  height: 56px;
  outline: none;

  &::placeholder {
    opacity: 1;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-visible {
    border-width: 2px;
    border-color: #444444;
  }

  @media (min-width: $viewport-tablet) {
    margin-bottom: 0;
    min-width: 376px;
  }

  @media (min-width: $viewport-desktop) {
    min-width: 496px;
  }
}
